body {background-color:white;}

.logo-pattern {
                background-image: image();
                background-color: aqua;
                width: 10rem;
                margin-top: 3rem;
                }

.table {
        width: 94rem;
        
        }

.table-titles {background-color: aqua;}

.colored-table {background-color: aquamarine;}
