body 
{
    background-color:white;
}


#fake-link 
{
    color: rgb(47, 145, 202);
}


.ul-left-margin 
{
    margin-left: 1rem;
}


.logo-pattern 
{
    background-image: url(../img/pattern.png);
    background-color: rgb(15, 184, 206);
    background-size: cover;
    width: 10rem;
    margin-top: 3rem;
}


.table 
{
    width: 94rem;
}


.table-titles 
{
    background-color: aqua;
}


.colored-table 
{
    background-color: aquamarine;
}


.footer-pic-1 
{
    width: 15rem;
}


.footer-pic-2 
{

    width: 10rem;
}